
.country-label {
  font-size: 2px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: transparent;
  box-shadow: none;
  border: 0.5px;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-size: xx-small;
  border: 1px;
  border-color: brown;
  width: 40px;
  position: absolute;
  left: 2px;
  font: 100;
  width: 40px;
}


